@import "/etc/xdg/waybar/style.css" /* layer(default) */;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Quicksand", "Ubuntu Condensed", "Font Awesome 6 Free", "Font Awesome 6 Brands", "IPAexGothic", Helvetica, Arial, sans-serif;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.7);
}

#workspaces button.active {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}
